.activites {
    padding-top: 50px;
    margin-bottom: 39px;

}
.activites-description {
    font-size: 20px;
    line-height: 16.5;
    text-align: center;
    color: tomato;
    margin-bottom: 15px;
}