.activites {
    padding-top: 50px;
}
.activites-description {
    font-size: 20px;
    line-height: 1.65;
    text-align: center;
    color: #333333;
    margin-bottom: 15px;
}
.activites-title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    text-align: center;
    color: #333333;
    margin-bottom: 34px;
}
.activites-text {
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    color: #333333;
    margin-bottom: 39px;
}