.about {
  background-color: bisque;
}

ul {
  list-style: none;
  gap: 71px;
}

.container-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: #333333;
  gap: 16px;
}

.text {
  font-size: 18px;
  line-height: 1.55;
  text-align: center;
  color: #333333;
  display: flex;
}
