.solution {
  background-color: #28a745;
  display: flex;
  max-height: 460px;
}

.solution__wrap {
  padding: 84px 44px;
  padding-left: 30px;
}

.solution__inscription {
  margin-bottom: 5px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;

  color: #ffffff;
}

.solution__title {
  margin-bottom: 26px;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;

  color: #ffffff;
}

.solution__text {
  margin-bottom: 17px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;

  color: #ffffff;
}

.solution__btn {
  display: inline-block;
  padding: 11px 27px;
  align-items: center;

  width: 167px;
  height: 50px;

  background-color: transparent;
  color: #ffffff;

  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;

  transition: slide-fwd-center .45s cubic-bezier(.25,.46,.45,.94) both;

  &:hover,
  &:focus { 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}