<section class="about">
    <h2> About for us</h2>
    <ul>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, atque.
            </p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, atque.
            </p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, atque.
            </p>
        </li>
    </ul>
</section>