
<div class="activites">
    <h3 class="activites-description">This is what we do</h3>
<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">  <h2 class="activites-title">Business Cases</h2>
    <p class="activites-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p></div>
    <div class="swiper-slide">  <h2 class="activites-title">Lorem</h2>
    <p class="activites-text"> Lorem ipsum dolor sit amet consectetur adipisicing !</p></div>
    <div class="swiper-slide"> <h2 class="activites-title">Lorem, ipsum.</h2>   
        <p class="activites-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit.!</p></div>
  </div>
  <!-- If we need pagination -->
  <!-- <div class="swiper-pagination"></div> -->

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <!-- <div class="swiper-scrollbar"></div> -->
</div>



  
</div>