<div class="activites-gallery container" data-aos="fade-right" data-aos-duration="1000">
    <ul class="activites-gallery__list list shadow-drop-center">
        <li class="activites-gallery__item "><img src="images/activites-images-1.jpg" alt="activites-images-1" width="320" height="214"></li>
        <li class="activites-gallery__item "><img src="images/activites-images-2.jpg" alt="activites-images-2" width="320" height="214"></li>
        <li class="activites-gallery__item "><img src="images/activites-images-3.jpg" alt="activites-images-3" width="320" height="214"></li>
        <li class="activites-gallery__item "><img src="images/activites-images-4.jpg" alt="activites-images-4" width="320" height="214"></li>
        <li class="activites-gallery__item "><img src="images/activites-images-5.jpg" alt="activites-images-5" width="320" height="214"></li>
        <li class="activites-gallery__item "><img src="images/activites-images-6.jpg" alt="activites-images-6" width="320" height="214"></li>
        <li class="activites-gallery__item "><img src="images/activites-images-7.jpg" alt="activites-images-7" width="320" height="214"></li>
        <li class="activites-gallery__item "><img src="images/activites-images-8.jpg" alt="activites-images-8" width="320" height="214"></li>
    </ul>
</div>