<section class='blog section'>
    <div class="blog__wrap container">
        <div class="blog__description">
            <p class='blog__subtitle subtitle'>April 16 2020</p>
            <h2 class='blog__title title'>Blog Post One</h2>
            <p class='blog__text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa deserunt eligendi tenetur at amet officia asperiores, rem quos earum voluptate mollitia, id, accusamus soluta aut. Sint reiciendis optio vel minima.</p>
            <button class='blog__btn button'>Read Our Blog</button>
        </div>
    </div>
    <div class="img__thumb">
        <img src="images/blog.jpg" alt="work place" width="680" height="517">
    </div>
</section>