<section class="callback">
  >
  <div class="background-image"></div>
  <div class="request">
    <h2 class="request__title">Request Callback</h2>
    <form class="request__form">
      <input
        class="request__input"
        type="text"
        placeholder="Enter your name"
        required
      />
      <input class="request__input" placeholder="Enter email*" type="email" />
      <button class="request__btn">
        <span class="btn__text">Send</span>
      </button>
    </form>
  </div>
</section>
