<section class="container">
  <ul class="text">
    <li>
      <h2 class="container-text">Investmant Banking</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
        necessitatibus!
      </p>
    </li>
    <li>
      <h2 class="container-text">Portfolio Manager</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
        necessitatibus!
      </p>
    </li>
    <li>
      <h2 class="container-text">Tax & Custudio</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
        necessitatibus!
      </p>
    </li>
  </ul>
</section>
