<ul class="team-list list">
  <li class="team-link">
    <img src="images/specialist1.jpg" alt="specialist1" width="420" />
    <h3 class="team-name">John Doe</h3>
    <p class="team-pharagraph">President</p>
  </li>
  <li class="team-link">
    <img src="images/specialist2.jpg" alt="specialist2" width="420" />
    <h3 class="team-name">Jane Doe</h3>
    <p class="team-pharagraph">Vice President</p>
  </li>
  <li class="team-link">
    <img src="images/specialist3.jpg" alt="specialist3" width="420" />
    <h3 class="team-name">Steve Smith</h3>
    <p class="team-pharagraph">Marketing Head</p>
  </li>
</ul>
